.App {
  overflow: hidden;
  height: 100vh;
  height: 100dvh;
}
.coverVideo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  animation: fadeIn 1s ease-in;
}
.hide {
  animation-name:fadeOut;
  animation-duration:0.5s;
}
/* Main invite */
.invite {
  height: 100%;
  width: 100%;
  border-bottom: 2px solid ;
  border-left: 2px solid ;
  border-right: 2px solid ;
  border-top: 2px solid ;
  position: absolute;
  top:0;
  animation: slideUp 2s ease-in;
}
.coloredBackground {
  height: 100%;
  width: 100%;
  animation: fadeIn 2s ease-in;
  z-index: -10;
}
.animatedBackground {
  position: fixed;
  top: 0;
  overflow-x: hidden;
}
.malaLayer {
  z-index: -5;
  position: fixed;
}
.mala {
  overflow: hidden;
  width: 40%;
  height: 100%;
}
.mala1 {
  position: relative;
  margin-left: -3vw;
}
.mala2 {
  position: absolute;
  left: 29vw;
}
.mala3 {
  position: absolute;
  left: 64vw;
}
.hangingFlowerLayer {
  z-index: -4;
  position: fixed;
  width: 40%;
  height: 100%;
}
.hangingFlower {
  height: 17vh;
  left: 28vw;
  position: relative;
}
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.5s, opacity 0.5s;
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}